.charsheet {
    display: flex;
  }

.left-section {
    width: 40%;
    max-height: 100%;
    text-align: center;
}

.left-section h2{
    border-bottom: none;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
               1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

.char-pic img{
    border-radius: 16px;
    width: 80%;
    height: 30%;
}

.char-name input{
    border-radius: 16px; 
    background-color: beige;
}

.resources {
    list-style: none;
    margin: -0.5em 0px;
    padding: 0px 0px 0px 0.5em;
}

.resources li {
    display: inline-block;
    padding: 0px 1px;
}

.resources img {
    width: 30px;
    height: 30px;
    border: none;
    margin: auto;
}

.dices {
    list-style: none;
    margin: -0.5em 0px;
    padding: 10px 0px 0px 0.5em;
}

.dices li {
    display: inline-block;
    padding: 0px 1px;
}

.dices img {
    width: 60px;
    height: 60px;
    border: none;
    margin: auto;
}

.sheet nav.sheet-tabs {
    margin: 4px 0;
    border-top: none;
    border-bottom: none;
}

.right-section {
    width: 60%;
    height: 100%;
}

.editor-content, .editor, .tox,.tox-edit-area, .tox-tinymce
{
    list-style: circle;
    text-align: left;
    padding: 5px;
	background-color: rgba(245, 245, 220, 0.5);
    color: #000000;
    height: 400px;
}

.archetype {
    list-style: none;
    margin: -0.5em 0px;
    padding: 0px 0px 0px 0.5em;
}

.archetype h1 {
    border-bottom: none;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
               1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

.archetype li {
    display: inline-block;
    padding: 5px 1px;
    vertical-align: middle;
}

.archetype img {
    width: 30px;
    height: 30px;
    border: none;
    margin: auto;
}

.archetype input {
    width: 180%;
    border-radius: 16px;
    text-align: center;
    background-color: beige;
}

.item-list {
    width: 100%;
    border: none;
}

.item-list th{
    border: none;
    background-color: black;
    color: white;
    padding-left: 10px;
    padding-right: 8px;
    padding-top:0;
    padding-bottom: 0;
}
.item-header {
    border-bottom: none;
    text-align: left;
}

.item-controls {
    align-items: right;
    text-align: right;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
               1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

.item-name input{
    border-radius: 16px; 
    background-color: beige;
}

.item-name h2{
    border-bottom: none;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
               1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

.dice-roll .dice-tooltip {
    display: block !important;
}

.tag li{
    display: inline-block;
}

#pause .pause-image {
    background: url("icons/pause.svg");
    background-size: 128px;
    width: 128px;
    height: 128px;
    padding-left: 128px;
}

:root { --bg-image: url("../../../systems/tricube/style/white.svg"); }

.window-app .window-content .tricube{
    background-color: white;
    background: var(--bg-image) no-repeat;
    background-size: cover;
    padding: 5px;
}

