.charsheet {
    display: flex;
  }

.left-section {
    width: 40%;
    height: 100%;
    text-align: center;
}

.left-section h2{
    border-bottom: none;
}

.char-pic img{
    border-radius: 16px;
    width: 80%;
    height: 30%;
}

.char-name input{
    border-radius: 16px; 
}

.resources {
    list-style: none;
    margin: -0.5em 0px;
    padding: 0px 0px 0px 0.5em;
}

.resources li {
    display: inline-block;
    padding: 0px 1px;
}

.resources img {
    width: 30px;
    height: 30px;
    border: none;
    margin: auto;
}

.dices {
    list-style: none;
    margin: -0.5em 0px;
    padding: 10px 0px 0px 0.5em;
}

.dices li {
    display: inline-block;
    padding: 0px 1px;
}

.dices img {
    width: 60px;
    height: 60px;
    border: none;
    margin: auto;
}

.sheet nav.sheet-tabs {
    margin: 4px 0;
    border-top: none;
    border-bottom: none;
}

.right-section {
    width: 60%;
}

.editor-content, .editor, .tox,.tox-edit-area, .notes, .tox-tinymce
{
    list-style: circle;
    text-align: left;
    padding: 5px;
	background-color: #cac2b085;
    color: #000000;
    height: 100%;
}

.archetype {
    list-style: none;
    margin: -0.5em 0px;
    padding: 0px 0px 0px 0.5em;
}

.archetype li {
    display: inline-block;
    padding: 5px 1px;
    vertical-align: middle;
}

.archetype img {
    width: 30px;
    height: 30px;
    border: none;
    margin: auto;
}

.archetype input {
    width: 190%;
    border-radius: 16px;
    text-align: center;
}

.item-list {
    width: 100%;
    border: none;
}

.item-header {
    background-color: gray;
    border-bottom: none;
}

.item-controls {
    align-items: right;
    text-align: right;
}