<form class="{{cssClass}} tricube" autocomplete="off">
  <div class="charsheet">
    <section class="left-section">
      <div class="char-name"><h2><input name="name" type="text" value="{{actor.name}}" placeholder='Nombre' onClick="this.select();"/></h2></div>
      <div class="char-pic"><img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{name}}" alt='Imagen del Personaje'/></div>
      <h2><label>{{localize "TRI.resources.resolve"}}</label></h2>
      <ul class="resources">
        {{#if (gt actor.system.resources.resolve.max 0)}}
          {{#if (gt actor.system.resources.resolve.value 0)}}<li><a class="resolve-change"><img src="systems/tricube/style/icons/heart.svg"></a></li>{{else}}<li><a class="resolve-change"><img src="systems/tricube/style/icons/void-heart.svg"></a></li>{{/if}}
        {{/if}}
        {{#if (gt actor.system.resources.resolve.max 1)}}
          {{#if (gt actor.system.resources.resolve.value 1)}}<li><a class="resolve-change"><img src="systems/tricube/style/icons/heart.svg"></a></li>{{else}}<li><a class="resolve-change"><img src="systems/tricube/style/icons/void-heart.svg"></a></li>{{/if}}
        {{/if}}
        {{#if (gt actor.system.resources.resolve.max 2)}}
          {{#if (gt actor.system.resources.resolve.value 2)}}<li><a class="resolve-change"><img src="systems/tricube/style/icons/heart.svg"></a></li>{{else}}<li><a class="resolve-change"><img src="systems/tricube/style/icons/void-heart.svg"></a></li>{{/if}}
        {{/if}}
        {{#if (gt actor.system.resources.resolve.max 3)}}
          {{#if (gt actor.system.resources.resolve.value 3)}}<li><a class="resolve-change"><img src="systems/tricube/style/icons/heart.svg"></a></li>{{else}}<li><a class="resolve-change"><img src="systems/tricube/style/icons/void-heart.svg"></a></li>{{/if}}
        {{/if}}
        {{#if (gt actor.system.resources.resolve.max 4)}}
          {{#if (gt actor.system.resources.resolve.value 4)}}<li><a class="resolve-change"><img src="systems/tricube/style/icons/heart.svg"></a></li>{{else}}<li><a class="resolve-change"><img src="systems/tricube/style/icons/void-heart.svg"></a></li>{{/if}}
        {{/if}}
        {{#if (gt actor.system.resources.resolve.max 5)}}
          {{#if (gt actor.system.resources.resolve.value 5)}}<li><a class="resolve-change"><img src="systems/tricube/style/icons/heart.svg"></a></li>{{else}}<li><a class="resolve-change"><img src="systems/tricube/style/icons/void-heart.svg"></a></li>{{/if}}
        {{/if}}
      </ul>
      <h2><label>{{localize "TRI.resources.karma"}}</label></h2>
      <ul class="resources">
        {{#if (gt actor.system.resources.karma.max 0)}}
          {{#if (gt actor.system.resources.karma.value 0)}}<li><a class="karma-change"><img src="systems/tricube/style/icons/clover.svg"></a></li>{{else}}<li><a class="karma-change"><img src="systems/tricube/style/icons/clover_grey.svg"></a></li>{{/if}}
        {{/if}}
        {{#if (gt actor.system.resources.karma.max 1)}}
          {{#if (gt actor.system.resources.karma.value 1)}}<li><a class="karma-change"><img src="systems/tricube/style/icons/clover.svg"></a></li>{{else}}<li><a class="karma-change"><img src="systems/tricube/style/icons/clover_grey.svg"></a></li>{{/if}}
        {{/if}}
        {{#if (gt actor.system.resources.karma.max 2)}}
          {{#if (gt actor.system.resources.karma.value 2)}}<li><a class="karma-change"><img src="systems/tricube/style/icons/clover.svg"></a></li>{{else}}<li><a class="karma-change"><img src="systems/tricube/style/icons/clover_grey.svg"></a></li>{{/if}}
        {{/if}}
        {{#if (gt actor.system.resources.karma.max 3)}}
          {{#if (gt actor.system.resources.karma.value 3)}}<li><a class="karma-change"><img src="systems/tricube/style/icons/clover.svg"></a></li>{{else}}<li><a class="karma-change"><img src="systems/tricube/style/icons/clover_grey.svg"></a></li>{{/if}}
        {{/if}}
        {{#if (gt actor.system.resources.karma.max 4)}}
          {{#if (gt actor.system.resources.karma.value 4)}}<li><a class="karma-change"><img src="systems/tricube/style/icons/clover.svg"></a></li>{{else}}<li><a class="karma-change"><img src="systems/tricube/style/icons/clover_grey.svg"></a></li>{{/if}}
        {{/if}}
        {{#if (gt actor.system.resources.karma.max 5)}}
          {{#if (gt actor.system.resources.karma.value 5)}}<li><a class="karma-change"><img src="systems/tricube/style/icons/clover.svg"></a></li>{{else}}<li><a class="karma-change"><img src="systems/tricube/style/icons/clover_grey.svg"></a></li>{{/if}}
        {{/if}}
      </ul>
      <h2><label>{{localize "TRI.resources.afflictions"}}</label></h2>
      <ul class="resources">
        {{#if (gt actor.system.resources.afflictions.max 0)}}
          {{#if (gt actor.system.resources.afflictions.value 0)}}<li><a class="afflictions-change"><img src="systems/tricube/style/icons/skull.svg"></a></li>{{else}}<li><a class="afflictions-change"><img src="systems/tricube/style/icons/skull_grey.svg"></a></li>{{/if}}
        {{/if}}
        {{#if (gt actor.system.resources.afflictions.max 1)}}
          {{#if (gt actor.system.resources.afflictions.value 1)}}<li><a class="afflictions-change"><img src="systems/tricube/style/icons/skull.svg"></a></li>{{else}}<li><a class="afflictions-change"><img src="systems/tricube/style/icons/skull_grey.svg"></a></li>{{/if}}
        {{/if}}
        {{#if (gt actor.system.resources.afflictions.max 2)}}
          {{#if (gt actor.system.resources.afflictions.value 2)}}<li><a class="afflictions-change"><img src="systems/tricube/style/icons/skull.svg"></a></li>{{else}}<li><a class="afflictions-change"><img src="systems/tricube/style/icons/skull_grey.svg"></a></li>{{/if}}
        {{/if}}
        {{#if (gt actor.system.resources.afflictions.max 3)}}
          {{#if (gt actor.system.resources.afflictions.value 3)}}<li><a class="afflictions-change"><img src="systems/tricube/style/icons/skull.svg"></a></li>{{else}}<li><a class="afflictions-change"><img src="systems/tricube/style/icons/skull_grey.svg"></a></li>{{/if}}
        {{/if}}
        {{#if (gt actor.system.resources.afflictions.max 4)}}
          {{#if (gt actor.system.resources.afflictions.value 4)}}<li><a class="afflictions-change"><img src="systems/tricube/style/icons/skull.svg"></a></li>{{else}}<li><a class="afflictions-change"><img src="systems/tricube/style/icons/skull_grey.svg"></a></li>{{/if}}
        {{/if}}
        {{#if (gt actor.system.resources.afflictions.max 5)}}
          {{#if (gt actor.system.resources.afflictions.value 5)}}<li><a class="afflictions-change"><img src="systems/tricube/style/icons/skull.svg"></a></li>{{else}}<li><a class="afflictions-change"><img src="systems/tricube/style/icons/skull_grey.svg"></a></li>{{/if}}
        {{/if}}
      </ul>
      <ul class="dices">
        <li><a class="dice-roll" data-ndice="1" data-ndiff="5"><img src="systems/tricube/style/icons/1dice.svg"></a></li>
        <li><a class="dice-roll" data-ndice="2" data-ndiff="5"><img src="systems/tricube/style/icons/2dice.svg"></a></li>
        <li><a class="dice-roll" data-ndice="3" data-ndiff="5"><img src="systems/tricube/style/icons/3dice.svg"></a></li>
      </ul>
    </section>
    <section class="right-section">
        <nav class="sheet-tabs tabs" data-group="primary">
          <a class="item" data-tab="general">{{localize "TRI.ui.tab.general"}}</a>
          <a class="item" data-tab="bio">{{localize "TRI.ui.tab.notes"}}</a>
        </nav>
        {{!-- Item Sheet Body --}}
        <section class="sheet-body">
          {{!-- General Tab --}}
          <div class="tab general" data-group="primary" data-tab="general">
            {{> "/systems/tricube/templates/actors/parts/general.html"}}
          </div>
          {{!-- Notes Tab --}}
          <div class="tab bio" data-group="primary" data-tab="bio">
            {{editor actor.system.notes target="system.notes" button=true owner=owner editable=true}}
          </div>
        </section>
    </section>
  </div>
</form>