<form class="{{cssClass}} tricube" autocomplete="off">
    <div class="item-name">
        <h2><input name="name" type="text" value="{{item.name}}" placeholder='Quirk' onClick="this.select();"/></h2>
        <ul class="tag">
            <li><input name="system.tag" type="text" value="{{item.system.tag}}" placeholder='Tag' data-dtype="String"/></li>
            <li><input type="color" name="system.bg_color" value="{{item.system.bg_color}}" title="Tag Background Color"></li> 
            <li><input type="color" name="system.text_color" value="{{item.system.text_color}}" title="Tag Text Color"></li> 
        </ul>
    </div>
    <div class="desc">
        {{editor item.system.desc target="system.desc" button=true owner=owner editable=true}}
    </div>
</form>